@import '../../../styles/base';

$label-spacing: 6px;
$input-spacing: 4px;
$section-spacing: 30px;

label {
  margin-bottom: $label-spacing;
}

.inputGroup {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.inputColumns {
  lost-utility: clearfix;
}

.inputColumn {
  lost-column: 1;
}

.horizontalInputs {
  margin-bottom: $input-spacing;
  .toggleInputGroup {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.toggleInputGroup {
  margin-bottom: $input-spacing;

  input {
    margin-right: 5px;
  }
}

.otherTextInput {
  @extend .textInput;

  margin-left: 5px;
  width: 190px;
}

.otherInput {
  display: flex;
  margin-left: 18px;
}

.footer {
  display: flex;
  justify-content: center;

  button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.section {
  lost-utility: clearfix;
  margin-bottom: $section-spacing;

  &:first-child, &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.errorMessage {
  font-size: 12px;
  color: $red;
}

.fieldName {
  font-weight: $weight-regular;
  color: $black-dark;
}

.basic {
  .inputGroup {
    lost-column: 1;
    margin-bottom: 12px;

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
      }
    }
  }
}

.gender {
  .inputGroup {
    lost-column: 1/2;
  }
}

.ethnicity {
  .inputGroup {
    lost-column: 1;
    margin-bottom: $section-spacing;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
        margin-bottom: 0;
      }
    }
  }
}

.background {
  .inputGroup {
    lost-column: 1;
    margin-bottom: $section-spacing;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
        margin-bottom: 0;
      }
    }
  }
}

.homeless {
  .inputGroup {
    lost-column: 1;

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
      }
    }
  }
}

.medical {
  .inputColumn {
    lost-column: 1;

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
      }
    }
  }
}

.support {
  .inputColumn {
    lost-column: 1;

    @include breakpoint(tablet) {
      & {
        lost-column: 1/2;
      }
    }
  }
}

.errorNotice {
  color: $red;
  text-align: center;
  margin-top: 20px;
}

