$white: #FFFFFF;
$red: #D64541;  // Taken from Android repo, which presumably is from the PHC logo
$blue: #59ABE3;
$green: #87D37C;

$black-darkest: #000000;
$black-dark: #2D2D29;
$black-medium: #373B44;

$grey-darker: #6C7378;
