:global {
  @import '~normalize.css/normalize';
  @import 'base';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $weight-light;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  ul.suggestionList {
    width: 300px
  }

  // Not sure how to put scss in component yet so I'm just leaving this here!
  li.suggestionItem {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }

  li.suggestionItem:last-child {
    border: none;
  }

}
