@import '../../styles/base';

.container {
  margin-bottom: 20px;
}

.heading {
  margin: 0;
  padding: 40px;
  color: $white;
  font-weight: $weight-medium;
  background: $red;
}

.current {
  font-weight: bold;
}
