.container {

}

.input {
  width: 300px;
}

.suggestionsContainer {


}

.accountList .li {
  color: #f0f0f5;
}

.suggestion {
  list-style-type: none;

}

.suggestionFocused {

}

.suggestionItem {
  .firstName {

  }

  .lastName {

  }

  .salesforceId {

  }
}
