@import '../../../styles/base';

.input {
  width: 300px;
}

.accountList .li {
  color: #f0f0f5;
}

.suggestionList {
  list-style-type: none;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.searchInput {
  margin-right: 10px;
}
