@import '../../../styles/base';

.input {
  width: 300px;
}

.accountList .li {
  color: #f0f0f5;
}

.suggestionList {
  padding: 0;
  list-style-type: none;
}

.suggestionItem {
  cursor: pointer;
  font-weight: $weight-regular;
  padding: 5px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.inputGroup {
  display: flex;
  align-items: center;
  flex-flow: column;
}

li.suggestionItem:last-child {
  border: none;
}

span.name {
  float: left;
  padding: 10px;
  max-width: 300px;
  font-size: 20px;
}
span.birthdate {
  padding: 10px;
  font-size: 20px;
  float: right;
}

.searchInput {
  margin-bottom: 10px;
  font-size: 30px !important;

}

.searchButton {
  margin-top: 10px;
}

.searchHeader {
  width: 400px;
  padding-top: 20px;
  font-size: 15px;
}
