@import '../../../styles/base';

.form {
  width: 300px;
  margin: 0 auto;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.inputLabel {
  margin-right: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginTextInput {
  @extend .textInput;
  width: 210px;
}
