@import '../../../styles/base';

.formItemContainer {
  padding: 10px 80px;
  text-align: left;
}

textarea {
  width: 100%
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.inputLabel {
  margin-right: 15px;
}

.fieldName {
  font-weight: $weight-regular;
  color: $black-dark;
}
